/*font start*/

/* font-face{
    src:url(fonts/playfair-display/PlayfairDisplay-Regular.ttf)
    font-family: 'Playfair Display', serif;
} */

/*font end*/

body{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400
}

.uc{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.news{
    background-color: #ddd;

}

.newsletter2{
    width: 95%;
    border: none;
    border-bottom: 1px solid #121212;
    background-color: transparent;
    
}

.form{
    width: 25%;
}

form input:focus{
    outline: 0;
}

form button{
    border: none;
    background-color: transparent;
}

.height{
    height: 400px;
}

.load{
    transition: .3s;
}

.load:hover{
    background-color: black;
    color: white;
}

footer{
    background-color: #ddd ;
}

footer img{
    color: transparent;
}

